@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Quattrocento+Sans&display=swap");
/**/
body {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  background-color: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #49a09d,
    #5f2c82
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #49a09d,
    #5f2c82
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}
/*Instrucciones*/
span {
  display: flex;
  font-family: "Cabin Sketch", cursive;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  font-size: 28px;
  white-space: nowrap;
  border-right: 5px solid;
  width: 21ch;
  animation: typing 3s steps(21), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/*GIF*/
.monkey {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
}
/*boton*/
.btn {
  font-weight: 400;
  padding: 1rem 2rem;
  border-radius: 5rem;
  min-width: 5rem;
  border-radius: 5rem;
  color: #1d49a8be;
}
.btn-borrar {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(
    rgba(179, 132, 201, 0.84),
    rgba(57, 31, 91, 0.84) 50%
  );
  border-radius: 15px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,
    rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #ffffff;
  cursor: pointer;
  display: grid;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.04em;
  line-height: 16px;
  margin: 1;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,
    rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px,
    rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.btn-borrar:hover {
  background-image: linear-gradient(#b384c9, #391f5b 50%);
}

@media (min-width: 768px) {
  .button-borrar {
    font-size: 21px;
    padding: 18px 34px;
  }
}
.btn-editar {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(
    rgba(179, 132, 201, 0.84),
    rgba(57, 31, 91, 0.84) 50%
  );
  border-radius: 15px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,
    rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.04em;
  line-height: 16px;
  margin: 1;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,
    rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px,
    rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.btn-editar:hover {
  background-image: linear-gradient(#b384c9, #391f5b 50%);
}

@media (min-width: 768px) {
  .button-editar {
    font-size: 21px;
    padding: 18px 34px;
  }
}

.btn:hover {
  box-shadow: 10px 10px 0px #445cd3;
  top: -5px;
  left: -5px;
}
/*seccion*/
.contenedorA {
  padding: 0 auto;
  row-gap: 10px;
}
/*titulo*/
.label {
  font-size: 20px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 200;
  color: whitesmoke;
}
/*título y descripción*/
.meta {
  border: 1px;
  color: rgba(43, 64, 184, 0.788);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
}
/*seccion categoria*/
.contenedorB {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
  border-radius: 7px;
}
/*formulario*/
.box {
  display: flex;
  width: 700px;
  justify-content: center;
  height: auto;
  background: #005d979f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #363795bd,
    #005d9793
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #363795bd,
    #005d9788
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 20px 40px;
  box-shadow: 0 1px 1px 0 rgba(11, 40, 167, 0.377);
}
/*Ajustando tamaño de formulario*/
.new {
  padding: 30px;
  position: relative;
}
.time {
  padding: 30px;
}
.new,
.time {
  grid-column: 1;
}
/*tarjeta dinámica*/
.card {
  font-family: "Quattrocento Sans", sans-serif;

  color: #29398a;
  width: 15rem;
  float: left;
  margin: 3px;
  background: #e8cbc0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #636fa4,
    #e8cbc0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.list-group-item {
  background: -webkit-linear-gradient(
    to top,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #636fa4,
    #e8cbc0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card-img-top {
  width: 5rem;
  height: 10rem;
}
@media (max-width: 1200px) {
  .box {
    min-height: 30vh;
  }
}
