@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Quattrocento+Sans&display=swap");
/**/
body {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  background-image: url("https://images.pexels.com/photos/2873669/pexels-photo-2873669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
}
/*Instrucciones*/
span {
  display: flex;
  font-family: "Cabin Sketch", cursive;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  font-size: 25px;
  white-space: nowrap;
  border-right: 4px solid;
  width: 21ch;
  animation: typing 2s steps(21), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/*GIF*/
.monkey {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
}
/*boton*/
.btn {
  font-weight: 400;
  padding: 1rem 2rem;
  border-radius: 5rem;
  min-width: 5rem;
  border-radius: 5rem;
  color: #1d49a8be;
}
.btn-borrar {
  background-color: #29398a;
  size: 2px;
}

.btn:hover {
  box-shadow: 10px 10px 0px #445cd3;
  top: -5px;
  left: -5px;
}
/*seccion*/
.contenedorA {
  padding: 0 auto;
  row-gap: 10px;
}
/*titulo*/
.label {
  font-size: 20px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 200;
  color: whitesmoke;
}
/*título y descripción*/
.meta {
  border: 1px;
  color: rgba(43, 64, 184, 0.788);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
}
/*seccion categoria*/
.contenedorB {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
  border-radius: 7px;
}
/*formulario*/
.box {
  display: flex;
  width: 700px;
  justify-content: center;
  height: auto;
  background: #005d979f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #363795bd,
    #005d9793
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #363795bd,
    #005d9788
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 20px 40px;
  box-shadow: 0 1px 1px 0 rgba(11, 40, 167, 0.377);
}
/*Ajustando tamaño de formulario*/
.new {
  padding: 30px;
  position: relative;
}
.time {
  padding: 30px;
}
.new,
.time {
  grid-column: 1;
}
/*tarjeta dinámica*/
.card {
  font-family: "Quattrocento Sans", sans-serif;

  color: #29398a;
  width: 15rem;
  float: left;
  margin: 2px;
  background: #e8cbc0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #636fa4,
    #e8cbc0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.list-group-item {
  background: -webkit-linear-gradient(
    to top,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #636fa4,
    #e8cbc0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card-img-top {
  width: 5rem;
  height: 10rem;
}
@media (max-width: 1200px) {
  .box {
    min-height: 50vh;
  }
}
